<h3>Entry Detail</h3>

<div>
  <% if flash[:notice] %>
    <p class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </p>
  <% end %>

  <p>
    <b>Original:</b>
    <%= link_to @url.original, @url.original %>
  </p>

  <p>
    <b>Shortened:</b>
    <a href=<%= request.protocol + request.host_with_port + '/' + @url.shortened %>>
      <%= @url.shortened %>
    </a>
  </p>
</div>